body {
    font-family: sans-serif;
    background-color: #B3B8C9;
}

h1 {
    color: white;
    position: absolute;
    font-size: 90px;
    top: 100px;
    left: 400px;
}
h2 {
    color: white;
    position: absolute;
    font-size: 30px;
    top: 240px;
    left: 320px;
}



.logo {
    position: absolute;
    top: 15px;
    left: 60px;
}

img {
    margin: 7px;
}

a {
    text-decoration: none;
    color: white;
    position: absolute;
    
}
.home{
top: 50px;
    left: 770px;
    font-size: 25px;
}
.about{
top: 50px;
    left: 870px;
    font-size: 25px;
}
.Activities{
top: 50px;
    left: 970px;
    font-size: 25px;
}
.contacts{
top: 50px;
    left: 1100px;
    font-size: 25px;
}
.learn{
top: 330px;
position: absolute;
left: 520px;
font-size: 30px;
background-color: #0081D1;
border: 10px solid #0081D1;
border-radius: 40px;
}
.text{
    position: absolute;
    border: 50px solid white;
    background-color: white;
    border-radius: 20px;
    top:550px;
    left:70px ;
    width:1000px;

}
.textt{
    font-size: 25px;
    left: 30px;
}
.texttt{
    font-size: 25px;
    left:350px;
    top: 0px;
    position: absolute;
}
.textttt{
    font-size: 25px;
     left:670px;
    top: 0px;
    position: absolute;
}
